* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-green: hsl(75, 94%, 57%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey700: hsl(0, 0%, 20%);
    --clr-grey800: hsl(0, 0%, 12%);
    --clr-grey900: hsl(0, 0%, 8%);
    --clr-offgrey: hsl(0, 0%, 50%);
}


.profileCard-container{
    background-color: var(--clr-grey900);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.profileCard{
    margin: 20px;
    background-color: var(--clr-grey800);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: fadeIn 2s ease-out;
}

body {
    background-color: var(--clr-grey900);
}

h1, h2, p, a {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1 {
    padding: 10px;
    font-size: 1.4rem ;
    color: var(--clr-white);
    animation: floatOrg 8s linear infinite;
}

h2 {
    color: var(--clr-green);
    font-size: 1.0rem;
    animation: floatAlt 8s linear infinite;
    font-weight: 600;
}

p {
    color: hsl(0, 0%, 50%);
    font-size: 0.7rem;
}

.profileCard p{
    margin-top: 10px;
}

.profile-image{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 10vh;
}

.profileCard-linkcontainer{
    align-content: center;
    padding: 10px;
    list-style: none;
}

.profileCard-linkcontainer a{
    text-decoration: none;
    color: var(--clr-white);
    list-style: none;
    display: block;
    margin: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
    background-color:  var(--clr-grey700);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profileCard-linkcontainer a:hover {
    background-color: var(--clr-green);
    transform: scale(1.05);
    color: var(--clr-grey700);
}

.attribution {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.attribution-heart{
    display: inline;
    margin-left: 2px;
    margin-bottom: 1px;
    animation: pulseHeart 2s linear infinite;
}

.attribution-personName{
    text-decoration: none;
    margin-left: 2px;
    color: hsl(0, 0%, 70%);
}

.sidePanel{
    display: flex;
    background-color: var(--clr-grey800);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    animation: fadeIn 2s ease-out;
    overflow: hidden;
    width: 118px;
    transition: all 0.5s ease;
    flex-direction: column;
    height: 55px;
}

.aboutme-image{
    width: auto;
    height: 100px;
    aspect-ratio: auto;
}
.sidePanel p {
    opacity: 0;
    max-height: 0;
    transition: all 0.5s ease;
}

.divi{
    display: block;
}
.sidePanel:hover p {
    opacity: 1;
    max-width: fit-content;
    max-width: fit-content;
    transition: all 0.5s ease;
}

.sidePanel:hover {
    opacity: 1;
    height: 409px;
    width: 500px;
    transition: all 0.5s ease;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}


@keyframes floatOrg {
    0%, 100% {
        transform: translateY(0) rotate3d(0, 0, 1, 0deg);
    }
    25%{
        transform: translateY() rotate3d(0, 0, 1, 1deg);

    }
    50% {
        transform: translateY(-5px) rotate3d(0, 0, 1, -1deg);
    }
    75%{
        transform: translateY() rotate3d(0, 0, 1, 1deg);

    }
}

@keyframes floatAlt {
    0%, 100% {
        transform: translateY(0) rotate3d(0, 0, 1, 0deg);
    }
    25%{
        transform: translateY() rotate3d(0, 0, 1, 0deg);

    }

    50% {
        transform: translateY(-3px) rotate3d(0, 0, 1, 1deg);
    }

    75%{
        transform: translateY() rotate3d(0, 0, 1, 0deg);

    }
}

@keyframes pulseHeart {
    0%, 100% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0);  opacity: 0;
    }
    100% {
        transform: scale(1); opacity: 1;
    }
}

@keyframes fadeIn-noscale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}